body{
    overflow-x: hidden;
    background-color: whitesmoke
}

header{
    background-color: azure;
    display: inline-block;
    width: 100%;
}

ul{
    display: inline-block;
    list-style: none;
}

li{
    display: inline-block;
    white-space: nowrap;
    font-size: 1.5rem;
    color: white;
}

a{
    text-decoration: none;
    margin-right: 10px;
}

.btn{
    color: white;
    font-family: sans-serif;
}

nav .btn:hover{
    color: rgb(122, 122, 122);
}

nav{
    width: 100%;
    background-color: rgb(26, 26, 26);
    overflow: auto;
}

nav a:hover{
    background-color: none;
    transition: 0.5s;
    text-decoration: underline;
    color: rgb(160, 160, 160);
}

.choice{
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.menu{
    background-color: rgb(26, 26, 26);
    text-align: right;
}

.menu-section{
    font-size: 2rem;
}

p{
    color: white;
    text-align: center;
}

.logo{
    color: white;
    font-size: 2rem;
    display: inline-block;
    margin-right: 40rem;
  
    
}

.wrapper{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.footer{
    text-align: center;
    background-color: rgb(26, 26, 26);
    height: 150px;
    bottom: 0;
    width: 100%;
    color: white;
    position: absolute;
    padding: 10px;
}

h2{
    text-align: center;
    color: black;
}

.menu-section{
    background-color: whitesmoke;
    margin: 0rem 45rem;
    height: 20rem;
    border-radius: 1rem;
    font-size: small;
    box-shadow: 2px 2px 10px 10px  grey;
}

.menu-section p{
    color: black;
}

.login p{
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    padding-top: 10px;
}

.login{
    text-align:  center;
    
}

.haslo{
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
}

.haslo p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.wrapper .btn{
    background-color: rgb(26, 26, 26);
    margin-left: 40%;
}

.wrapper .btn:hover{
    color: rgb(122, 122, 122);
    transition: 0.5s;
}


